<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            * {
                color: white;
                text-align: center;
                list-style-type : none;
            }

            a {
                color: blue;
            }

            body {
                background-image: url('{{ asset('../assets/background.jpg') }}');
                background-repeat: no-repeat;
                background-position: center center;
            }
        </style>
    </head>
    <body>
        <header>
            {% block header %}
                {% include '_header.html.twig' %}
            {% endblock %}
        </header>

        <main>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer>
            {% block footer %}
                {% include '_footer.html.twig' %}
            {% endblock %}
        </footer>
    </body>
</html>
