{% extends 'base.html.twig' %}

{% block header %}
    {% include '_header.html.twig' %}
    Aucun burger trouvé !
{% endblock %}

{% block content %}
    <p>Malheureusement le burger que vous avez recherché n'existe pas.</p>
{% endblock %}  

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}