{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ burger.name }}</h2>
    <p>Vous regardez les détails du burger ID : {{ burger.id }}</p>
    <p>{{ burger.description }}</p>
{% endblock %}  
