{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>Liste des burgers</h1>
        <p>Nos burgers sont préparés avec soin et passion.</p>

        <ul>
            {% for burger in burgers %}
                <li><a href="{{ path('burger', { 'id': burger.id }) }}">{{ burger.name }}</a></li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}