{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Oignons</h1>
    <ul>
        {% for oignon in oignons %}
            <li>{{ oignon.id }} - {{ oignon.name }}</li>
        {% else %}
            <p>Aucun oignon trouvé.</p>
        {% endfor %}
    </ul>
{% endblock %}
